/* * * * * * * * * * * * * * *\
|*                           *|
|*  INCLUDES                 *|
|*                           *|
\* * * * * * * * * * * * * * */

  // variables
@import "../variables";





/* * * * * * * * * * * * * * *\
|*                           *|
|*  LIST                     *|
|*                           *|
\* * * * * * * * * * * * * * */
ul {
  padding-left: 3.5em;

  > li {
    text-indent: 0;

    &[data-bullet="none"] {
      list-style: none;
    }
  }
}

ol {
  padding-left: 3.5em;
  list-style: none !important;
  counter-reset: level 0;

  &:not([style^="list-style-type:"]),
  &[style^="list-style-type:decimal"] {
    & + & {
      margin-top: -1rem;
    }
  }

  > li {
    counter-increment: level;
    text-indent: -2.1em;

    &:before {
      content: counter(level) '.';
      display: inline-block;
      width: 2.1em;
      text-indent: 0;
    }

    &[data-bullet="none"] {
      counter-increment: none;

      &:before {
        content: '' !important;
      }
    }

    &[data-bullet="custom"] {
      counter-increment: none;

      &:before {
        content: attr(data-custom-bullet);
      }
    }
  }
}

    // @todo: switch to custom properties as soon as Internet Explorer compatibility can be dropped
@if $ol-max-offset {
  @for $offset from 1 through $ol-max-offset {
    ol[start="#{$offset}"] {
      counter-reset: level ($offset - 1);
    }
  }
}

@each $type in (decimal,lower-alpha,lower-roman,upper-alpha,upper-roman) {
  ol[style^="list-style-type:#{$type}"] {

    & + & {
      margin-top: -1rem;
    }

    > li {

      &:before {
        content: counter(level, $type) '.';
      }
    }
  }
}